#navbar {
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    background-color:white;
    float: left;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: 0.5px solid rgba(139,0,0, 0.4);
    position: fixed;
    text-align: center;
    z-index: 10;
}

.navbar-link {
    padding: 3%;
    color: white;
    font-size: 1.5vw;
    background-color: darkred;
    text-decoration: none;
}

.navbar-link:hover{
    background-color: white;
    color: black;
}

.navbar-link:active {
    background-color: black;
}

#login-link {
    border: none;
}

