body {
  background-color: white;
}
h1, h2 {
  color: red;
}

span.error {
	color: red;
}

a { 
	color: orange;
	 }

p {
  color: #000;
}

div.imgs {
	min-width: 100;
	padding-left: 10%;
	padding-right: 10%;
}

img {
	width: 100%;
	border: '0';
}