body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;

}

input[type=text], input[type=password], input[type=email] {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4267b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

button:hover {
    opacity: 0.7;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}