* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #47474C;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p, address, form {
    color: #ECEEFF;
}

    h1, h2, h3, p {
        margin-bottom: 20px;
    }

form {
    margin-bottom: 25px;
}

    form label {
        display: block;
    }

    form input[type=text], form input[type=password], form input[type=email], form input[type=file], form textarea {
        width: 30%;
        padding: 12px 10px;
        margin: 8px 0 30px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form textarea:focus {
        background-color: #DEFFFF;
    }

    form input[type=submit] {
        width: 30%;
        background-color: #267EFF;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    form input[type=submit]:hover {
        background-color: #DEFFFF;
        color: #47474C;
    }

button {
    width: 30%;
    background-color: #267EFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #DEFFFF;
    color: #47474C;
}

table {
    color: #ECEEFF;
}

    th {
        font-size: 1.1em;
        padding: 7px 10px 7px 0;
    }

    td {
        padding: 7px 10px 7px 0;
    }

#nav {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
	padding: 0;
    background-color: #3B3C40;
    border-bottom: 1px solid #333;
}

#content {
    width: 800px;
	margin: 0 auto 150px auto;
}

#postDiv {
    margin-top: 20px;
}

    #postDiv a {
        display: block;
        margin-bottom: 50px;
    }

    #postDiv img {
        max-height: 400px;
    }

#footer {
    width: 100%;
    float: left;
    margin: 1em 0 0 0;
    padding: 0;
    min-height: 40px;
    background-color: #3B3C40;
    position: absolute;
    bottom: 0;
}

    #footer address {
        width: 800px;
        margin: 0 auto;
        padding: 10px 0 0 0;
        font-style: normal;
    }

    #footer address span {
        float: right;
    }

.menu {
    list-style: none;
	width: 800px;
	margin: 0 auto;
    padding: 0;
    min-height: 80px;
    overflow: hidden;
}

    .menu li {
        float: left;
        padding: 30px 0 0 0;
    }

    .menu li:last-child {
        float: right;
    }

    .menu li:first-child a {
        padding: 20px 15px 20px 0;
    }

        .menu li a {
            padding: 20px 15px 20px 15px;
            text-decoration: none;
            color: #D5D6E5;
            font-size: 1.5em;
        }

        .menu li a:hover, .menu li a:active {
            color: #ECEEFF;
        }

.reg {
    padding-left: 10px;
    color: #D5D6E5;
    text-decoration: none;
    border-left: 5px solid #D5D6E5;
    margin-bottom: 20px;
}

    .reg:hover {
        color: #ECEEFF;
    }