#menu_bar{
	background-color: rgba(20,20,200,.6);
	text-align: left;
	display: block;

}
.menu_bar_button{
	background-color: transparent;
	color: rgb(250,255,240);
	border-color: transparent;
	
	text-decoration: underline;
	text-decoration-color: rgb(250,255,240);


}
#pictures{
background-color: darkblue;
}
#logo{	
	background-color: transparent;
	float: right;
	padding-right: 3px;
	padding-top: 2px;
	color: yellow;
	


}
#left_white_bar{
	background-color: rgba(20,20,200,.6);
	width: 15%;
	height: 30%;
	float: left;
	margin-top: 5px;
	}
	#right_white_bar{
	background-color: rgba(20,20,200,.6);
	width: 15%;
	height: 50%;
	float: right;
	margin-top: 5px;
	}	
#left_bar{
	width: 80%;
	height: 40%;
	float: center;
	
	background-color: rgba(20,20,200,.6);
	text-align: center;
	color: white;

	border: 1px solid white;
	margin: auto;
	margin-bottom: 15px;

	}
#right_bar{
	width: 80%;
	height: 280px;
	float: center;
	background-color: rgba(20,20,200,.6);
	text-align: center;
	color: white;
	border: 1px solid white;
	margin: auto;	
	margin-bottom: 15px;
	font-size: 12px;
	}
#white_box{
	width: 100%
	background-color:blue;
	border: black;

	padding-left: 20px;
	
font-family: Verdana;	
}
#leftBride{
	max-width: 100%;
	max-height: 100%;
}
#rightCake{
		max-width: 100%;
	max-height: 100%;

}
#left_white_bar_text{
	font-size: 12px;
}
h1{
	
	margin-top: 10px;
	font-family: Verdana;
	
}
label{
	margin-left: 5px;
}

	  
  
 
  
input[type=text], input[type=password] {
  width: 40%;
  
  padding: 5px;
  border-color: black;
  border: 2px;
  background: #f1f1f1;
  font-size: 14px;
  
}


.submit{

  background-color: rgba(20,20,200,.6);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
  float: center;

}
.submit:hover{
	opacity: 1;
}
.form-inline { 
  padding-left: 20px;
  display: inline-block;
}
#imagebox{
	
}
#logout{
	float: right;
}
