* {
    font-family: 'Poppins', sans-serif;
}

.main-content {
    margin-top: 4.25%;
    margin-left: 0px;

}

.comment {
    font-size: 0.8vw;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}


.image-feed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}


.feed-image {
    border-radius: 5px;
    width: 100%;
}

.image-item-container{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 1%;
    background-color: rgba(0,0,0,0.1);
}

.image-item {
    width: 100%;
    position: relative;
    color: white;
    border-radius: 15px;
}

.image-container {
}

.ownername {
    color: white;
    position: absolute;
    bottom: 0px;
    right: 5px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}


.image-title{
    margin: 0px !important;
    
}

.loginform > form {
    text-align: center;
}


#background-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;

}


.loginform {
    background-color: white;
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    padding: 1%;
    border-radius: 15px;
}



form {
    display: block;
    width: 100%;
    padding: 1em;
}

.loginform > form > input {
    display: block;
    margin: auto auto;
    width: 50%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    font-size: 1.5vh;
    border-bottom: 1px solid #eaeaea;
    color: #757575;
}

.loginform > h2{
    text-align: center;
}

input:focus {
    outline: none;
}

.comment-list-container{
    overflow-y: scroll;
    max-height: 200px;
    padding: 0px;
}

.even{
    background-color: rgba(200,200,200,0.1);
}

.odd{
    background-color: rgba(255,255,255,0.5);
}

textarea {
    resize: none;
    width: 85%;
}

.image-description-container{
    font-size: 1vh;
    margin-bottom: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.image-content-container{
    height: 60%;
}

#btnLogin{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#btnSubmit {
    background-color: #4286f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}