.users-header {
    margin-top: 5%;
    margin-left: 2%;
}

.user-image {
    margin-left: 1%;
    width: 15%;
}

.users-container {
    padding: 0px;
}

.user{
    padding: 2%;
    margin: 0px;
}

.odd {
    background-color: rgba(0, 0,0, 0.3);
}

.even {
    background-color: rgba(0,55,0,0.1);
}


body {
    margin: 0px;
}

#inputSearchUsers {
    margin-left: 2%;
}


.user-search-result-even {
    padding-left: 2%;
    background-color: rgba(0, 200,0,0.2);

}
.user-search-result-odd {
    padding-left: 2%;
    background-color: rgba(0,0,200, 0.1);
}

