@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
	font-family: 'Indie Flower', cursive;	
	font-size: 2em;	
	background-color: #93B7BE;
	color: #2D3047;
}
h1 {
	margin: 0 auto;
	text-align: center;
}
#form {
	margin: 0 auto;
	width: 50%;
	display: block;
//	background-color: rgb(127,127,127);
}

#form > input {
	width: 100%;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	margin:0 0 .1em 0;
	background-color: #048A81;
	-webkit-appearance: none;
	padding: 0;
	box-sizing: unset;
	border: 2px;
	border-style: solid;
	border-radius: 10px;
	padding-left: .3em;
}
#form > input::placeholder {
	color: #93B7BE;
}

#submit {
	font-weight: bold;
	display: block;
	padding: 0;
	background-color: #955E42 !important;
}
