body {
    background-color: #fdffb9;
    font-family: "Gotham Light";
}

.headertitle {
    color: slategrey;
    font-family: "Gotham Light";
    text-align: center;
    font-size: 70px;
}

.uploadPictureButton {
    text-align: center;
    font-family: "Gotham Light";
    width: 150px;
    min-height: 30px;
    margin-top: 5px;
}

.picturedescription {
    text-align: left;
    font-family: "Gotham Light";
    width: 400px;
    min-height: 70px;
    margin-top: 5px;
    box-sizing: border-box;
}

.fileinput {
    margin-top: 20px;
}

.picturetitle {
    text-align: left;
    font-family: "Gotham Light";
    width: 400px;
    min-height: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.picturelist img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: block;
}

.entry {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    border: 2px solid slategray;
    background: #f6ffff;
    max-width: 1000px;
    margin-top: 20px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    text-align: center;
    font-family: "Gotham Light";
    width: 150px;
    min-height: 30px;
    margin-top: 5px;

}

.signout {
    text-align: left;
    font-family: "Gotham Light";
    margin-top: 5px;
    font-size: medium;
}
@media screen and (max-width: 600px){
    .headertitle {
        font-size: 2em;
    }
    .entry {
        width: 100%;
    }
    .picturedescription, .picturetitle {
        width: 100%;
    }
}
