.ad-placeholder{
    text-align: center;
    color: white;
    background-color: orange;
    border-color: coral;
}

.profile-picture{
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 10px;
}
