

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	font-family: tahoma, helvetica, sans-serif;
	font-size: 8pt;
	min-width: 768px;
	color: white;
	background-color: #636a99;
}

a {
	text-decoration: none;
	border: none;
	color: #F7FBF3;
}

a:hover {
	text-decoration: none;
	color: white;
}

h1, h2, h3, h4 {
	margin: 5px 0px;
	color: white;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 12pt;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
}

li {
	margin: 5px 15px;
}


#header {
	width: 100%;
	min-width: 1000px;
	padding: 0px 0 0 0;
}

#content {
	margin-top: 90px;
	width: 100%;
	height: 100%;
	min-height: 1000px;
	min-width: 1000px;
	overflow: hidden;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 1em 0;
	clear: both;
   	vertical-align: bottom;
}
#maincontent {
    width: 100%;
    height: 88%;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

#menu {
	position: sticky;
	display: block;
	height: 70px;
	background: #151515;
	position: absolute;
	overflow: hidden;
	text-align: center;
	width: 100%;
	min-width: 1000px;
	top: 50px;
	padding: 0.0em 0;
	font: 14px/40px Tahoma, Verdana, sans-serif;
	border: 0px;
	border-top: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(right, #7c4a93 0%, #3c31aa 50%, #427a8a 100%);
	-webkit-border-image: -webkit-linear-gradient(right, #7c4a93 0%, #3c31aa 50%, #427a8a 100%);
	border-image: linear-gradient(to left, #7c4a93 0%, #3c31aa 50%, #427a8a 100%);
	border-image-slice: 1;
}

#menu ul {
	position: sticky;
	width: 100% float: center;
	margin-top: 30px;
	margin-left: 0px;
}

#menu ul li {
	
	position: sticky;
	display: inline;
	margin: 5px 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#menu ul li a {
	color: #fff;
	text-shadow: 1px 1px 0 #000;
}

#menu ul li a:hover {
	color: #fff;
	background-color: #0F111D;
	text-decoration: none;
	margin: -41px -22px -12px -22px;
	padding: 41px 22px 12px 22px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



#userinfo ul {
	display: inline;
	margin: 0px 0.1%;
}




/* Layout (Every page) */

#header {
	background: #636a99;
	border-bottom: #636a99;
	height: 160px;
}

#userinfo {
	color: #C0C0C0;
	width: 650px;
}

#userinfo {
	position: absolute;
	top: 20px;
	right: 0px;
	clear: left;
	height: 50px;
}

#userinfo ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	/* Make sure text is readable when it overlaps the header on small resolutions */
	background: #13172d;
}

#userinfo li {
	margin: 0;
}

#userinfo #userinfo_username {
	display: block;
	width: 300px;
	position: absolute;
	top: 0px;
	right: 30px;
	background: none;
}

#userinfo #userinfo_username li {
	display: block;
	text-align: right;
}

#userinfo_username a.username {
	line-height: 24px;
	font-size: 16px;
	position: relative;
	top: -5px;
	font-weight: bold;
	text-align: right;
	background: #636a99;
}







