body {
    background-color: #fdffb9;
    font-family: "Gotham Light";
}

.headertitle {
    color: slategrey;
    font-family: "Gotham Light";
    text-align: center;
    font-size: 70px;
}

.input {
    text-align: center;
    font-family: "Gotham Light";
    width: 200px;
    min-height: 20px;
    margin-bottom: 5px;
}

.button {
    text-align: center;
    font-family: "Gotham Light";
    width: 150px;
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.error {
    display: block;
    color: red;
}

.p {
    text-align: center;
    font-family: "Gotham Light";
}