.feed_container {
    width: 80%;
    margin: auto;
}

.feed_container h2 {
    text-align: center;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.feed_container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.feed__item {
    margin: 15px 2% 15px 2%;
    border: 1px dotted #adccff;
    background-color: whitesmoke;
}

.feed__image {
    height: 300px;
}

.feed__caption {
    margin-left: 15px;
    font-size: 20px;
    text-align: center;
}

.feed__comment {
    margin-top: 30px;
    margin-left: 30px;
}

.feed__comment_author {
    color: #303030;
    font-weight: 900;
}

.feed__comment_content{

}

.feed__comment_input{
    margin-top: 10px;
    margin-left: 30px;

}

feed__comment_input_textarea {
}

.feed__comment_submit_button {

}