* {
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: inherit auto 1fr;
    grid-template-areas: "header" "content" "footer";
    grid-gap: 10px;
    /* grid-template-columns: first auto; */
    width: 960px;
    margin: 0 auto;
}

.main-header {
    grid-row: header;
    padding: 10px 0;
    text-align: center;
}


.sign-content {
    margin: 0 auto;
    min-height: 140px;
    padding: 10px;
    background: #DDDDDD;
}

#register, #login {

}

.sign-content form {
    display: flex;
    flex-direction: column;
}

.sign-content .button-container, .sign-content .sign-toggle {
    display: flex;
    justify-content: flex-end;   
}

.sign-content form label {
    text-align: right;
}

.sign-content form label:after {
    content: ":";
}
.sign-content form button {
    padding: 3px 6px;
}

.sign-content form button {
    padding: 3px 6px;
}

.sign-content span {
    font-size: 0.8em;
}



.filler {
    flex: 1;
}

.input {
    display: grid;
    grid-template-columns: minmax(80px, 1fr) min-content;
    grid-gap: 5px;
}

.hidden {
    display: none !important;
}





.main-footer {
    grid-row: footer;
    display: flex;
    justify-content: space-between;
}

.main-footer li {
    list-style-type: none;
}

.main-footer a {
    color: darkslategray;
    text-decoration: none;
}