* {
  margin: 0;
  padding: 0;
}

.topnav {
	overflow: hidden;
	background-color: #333;

}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.mainDiv {
  width: 100%;
  background-color: red;
}

.mainDiv h1 {
  text-align: center;
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 30px;
  color: #111;
  line-height: 44px;
}

.pictureDiv {
  width: 100%;
  background-color: lightblue;
}

.pictureDiv h1 {
  text-align: center;
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

.registerDiv {
  background-color: white;

}

.registerErrorDiv {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginErrorDiv {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginDiv {
  background-color: white;
}

.form-register {
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.uploadPictureForm {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #FAFAFA;
  margin-top: 30px;
  width: 600px;
}

.searchForUsersForm {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #FAFAFA;
  width: 460px;
}

.logOutForm {
  text-align: right;
  padding: 10px 10px 0px 0px;
}

.form-login{
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.fieldset-register {
  background-color: white;
}

.fieldset-login {
  background-color: white;
}

.menuDiv {
  padding: 22px;
  background-color: Red;
  color: white;
  text-align: center;
}

.menuButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  font-family: arial;
  margin: 4px 1px;
  cursor: pointer;
}

.mainButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: arial;
  margin: 10px 1px;
  cursor: pointer;
}

.logOutButton {
  background-color: black;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  font-family: arial;
  margin: 4px 2px;
  cursor: pointer;
}


.usersTableDiv {
  padding: 30px;
}

.headerDiv {
  margin: 0 auto;
  background-color: Red;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  width: 499px;
  padding: 10px 0px 10px;

}

.usersTable {
  margin: 0 auto;
  color: #333;
  font-family: Arial;
  font-size: 30;
  width: 500px;
  border-collapse: collapse; border-spacing: 0;
}

.usersTable th, .usersTable td {
  border: 1px solid transparent;
  height: 30px;
}

.usersTable th {
  background: #DFDFDF;
  font-weight: bold;
  font-size: 25px;
}

.usersTable td {
  background: #FAFAFA;
  text-align: center;
  font-size: 25px;
}

.usersTable tr {
  border: solid;
  border-width: 1px 0;
}

.pictureContainer {
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

.titleP {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial;
}

.personP {
  font-size: 16px;
  font-family: Arial;
}

.descP {
  font-size: 16px;
  font-family: Arial;
}

.picturesP {
  font-size: 20px;
  font-family: Arial;
  text-decoration: underline;
}

.picturesImg {
  width: 350px;
  height: auto;
}

@media only screen and (min-width: 700px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 50px 50px 50px;
  }

  .form-login{
    text-align: center;
    padding: 50px 50px 50px 50px;
  }

}


@media only screen and (min-width: 1000px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 100px 50px 100px;
  }

  .form-login{
    text-align: center;
    padding: 50px 100px 50px 100px;
  }

  .menuButton {
    font-size: 18px;

  }

  .logOutButton {
    font-size: 14px;
  }

  .usersTable th {
    font-size: 12px;
  }

  .usersTable td {
    font-size: 12px;
  }

  .headerDiv {
    font-size: 14px;
  }

}

@media only screen and (min-width: 1300px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 200px 50px 200px;
  }

  .form-login{
    text-align: center;
    padding: 50px 200px 50px 200px;
  }
}