header {
    margin-top: 0px auto;
    padding: 10px;
    border-bottom: thin solid black;
}

/* /\* Full Width below 768 pixels *\/ */
/* @media only screen and (max-width: 768px) { */
/*   .col {  margin: 1% 0 1% 0%; } */
/*   [class*='grid_'] { width: 100%; } */
/* } */
