table{
	margin: 3%;
    border-collapse: collapse;
    width: 90%;
}
th, td{
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}

thead {
    background-color: LightGray;
}

.search {
	text-align: center;
}