* {
  margin: 0;
  padding: 0;
}

.mainDiv {
  width: 100%;
  background-color: lightblue;
}

.mainDiv h1 {
  text-align: center;
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

.pictureDiv {
  width: 100%;
  background-color: lightblue;
}

.pictureDiv h1 {
  text-align: center;
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

.registerDiv {
  background-color: white;

}

.registerErrorDiv {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginDiv {
  background-color: white;
}

.form-register {
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.logOutForm {
  text-align: right;
  padding: 10px 10px 0px 0px;
}

.form-login{
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.fieldset-register {
  background-color: white;
}

.fieldset-login {
  background-color: white;
}

@media only screen and (min-width: 700px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 50px 50px 50px;
  }

  .form-login{
    text-align: center;
    padding: 50px 50px 50px 50px;
  }

}


@media only screen and (min-width: 1000px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 100px 50px 100px;
  }

  .form-login{
    text-align: center;
    padding: 50px 100px 50px 100px;
  }

}

@media only screen and (min-width: 1300px) {
  .registerDiv {
    width: 50%;
    float: left;
  }

  .loginDiv {
    width: 50%;
    float: right;
  }

  .form-register {
    text-align: center;
    padding: 50px 200px 50px 200px;
  }

  .form-login{
    text-align: center;
    padding: 50px 200px 50px 200px;
  }
}
