header {
    margin-top: 0px auto;
    padding: 10px;
    border-bottom: thin solid black;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
}

#userform, #logout-button {
    float: right;
    margin-left: 5px;
    font-size: 0.9em;
}

#userform input {
    font-size: 0.9em;
}

#logout-button {
    font-size: 0.9em;
}

section {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    clear: both;
}

/* Column */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0 !important; }

/* Row */
.row:before,
.row:after { content: ""; display: table; }
.row:after { clear: both;}

/* Grid */
.grid_1_of_3{ width: 32.0% }
.grid_2_of_3{ width: 65.0% }
.grid_3_of_3{ width: 100% }

#fileform {
}

#fileform textarea {
    width: 100%;
}

#fileform input[type="text"] {
    width: 100%;
}

#fileform input[type="button"] {
    margin-top: 5px;
    font-size: 1em;
}

#submit-wrapper {
    display: flex;
    justify-content: center;
}

.right {
    text-align: right;
}

figure {
    width: 90%;
    border-bottom: thin solid black;
    padding-top: 20px;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    font-style: italic;
}

img {
    width: 100%;
}

blockquote {
    font-family: monospace;
}

/* /\* Full Width below 768 pixels *\/ */
/* @media only screen and (max-width: 768px) { */
/*   .col {  margin: 1% 0 1% 0%; } */
/*   [class*='grid_'] { width: 100%; } */
/* } */
