.image-post {
    border: 5px solid black;
}

.img-feed-post {
    width: 50%;
}

.comment{

}

.comment-author-name{

}

.comment-text {

}

.comment-textarea {
    resize: none;
}

.textarea-wrapper {
        margin-top: 1%;
}

.image-wrapper{

}

