
* {
    bos-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 1px;
    margin: auto;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.2%;}
.col-3 {width: 25%;}
.col-4 {width: 48%;}
.col-5 {width: 41.66%;}
.col-6 {width: 49.6%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#left{
    align:left;
}
#right{
    align: right;
}
.frame{
    margin: auto;
    width: 66.66%
}
.frm{
    border: solid black 3px;
    width: 99%;
    background-color: #656565;
    font-size: 20px;
    margin: auto;
}
.header{
    border: solid #ffffff 2px;
    width: 99%;
    background-color: #656565;
    font-size: 20px;
    margin: auto;
}
.desc{
    border: solid black 2px;
    width: 97%;
    border-radius: 5px;
    background-color: #656565;
    text-align: center;
    font-size: 20px;
    margin: auto;
}


body {
    background-color: #656565;
}

#header {
    background-color:#2a2a2a;
}

#icon{
    height: 150px;
    width: 300px;
}
img{
    width: 98%;
    heigth: auto;
    margin: auto;

}
