.title{
    font-family: 'Lobster', cursive;
    font-size: 12vh;
    text-align: center;
    margin-top: 8%;
}
#hello{
    margin: 0;
    margin-left: 2%;
    font-family: 'Lobster', cursive;
    font-size: 6vh;
}
#upload{
    margin-left: 3%;
}
#upload input[type="text"]:focus, textarea:focus {
    background-color: #cbcdd3;
    border: 2px solid #3c3d3f;
    text-decoration: none;
}
#upload_button {
    padding: 1%;
    width: 20%;
    text-decoration: none;
    border: 2px solid darkgreen;
    background-color: white;
    color: #3c3d3f;
    font-weight: bold;
}
#upload_button:hover{
    background-color: darkgreen;
    transition: background-color 0.25s;
    cursor: pointer;
    color: white;
}
.description{
    font-family: 'Lobster', cursive;
    font-size: 3vh;
    padding: 1%;
}
.fa-trash-alt{
    font-size: 3.5vh;
}
