body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

div {

}

.container {
    margin-top: 20px;
    margin-left:25%;
    width: 70%;
    padding: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.containerInside {
    margin-left: 0;
    width: 100%;
    padding: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

img{
    width: 100%;
    height: auto;
    margin: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 20%;
    min-width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}