body {
    margin: 0;
}

div {
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    min-width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}