/** COLORS
white:   hsl(0, 0%, 100%)
black:   hsl(0, 0%, 4%)
light:   hsl(0, 0%, 96%)
dark:    hsl(0, 0%, 21%)
primary: hsl(171, 100%, 41%)
link:    hsl(217, 71%, 53%)
info:    hsl(204, 86%, 53%)
success: hsl(141, 71%, 48%)
warning: hsl(48, 100%, 67%)
danger:  hsl(348, 100%, 61%)
 */

/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    color: hsl(0, 0%, 4%);
    font: 1.2em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/**
NAV
 */
.is-active {
    color: hsl(217, 71%, 53%);
}

/**
HEADER
 */
header.main-head {
    display: flex;
    justify-content: space-between;
}

/**
CARD
 */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    flex: 0 0 500px;
    margin: 10px;
}

.card article {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card article .author {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.card article .author img {
    max-width: 48px;
    border-radius: 50%;
}

.card article .author p {
}

.card article .image {
}
.card article .image img {
    max-width: 100%;
}

.card article .text {
    flex: 1;
    padding: 0 20px 20px;
}

.card article .date {
    color: #747474;
    font-size: 0.8em;
    padding: 0 20px 20px;
}

/**
WEATHER
 */
#weather {
    display: flex;
    flex-direction: row;
    font-size: 0.6em;
    color: #747474;
}

#weather > * {
    margin: 5px;
}

#weather #up-container > i {
    margin-right: 4px;
}
#weather #down-container > i {
    margin-right: 4px;
}



/**
GRID
 */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper > * {
    padding: 10px;
    background-color: hsl(0, 0%, 96%);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 4%);
}
nav ul li a:hover {
    color: hsl(217, 71%, 53%);
}
nav ul .first {
    margin-bottom: 50px;
}
.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.main-footer {
    grid-area: footer;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    min-height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto minmax(auto, 4fr) auto;
    grid-template-areas:
            "header"
            "nav"
            "content"
            "footer";
}
@media (min-width: 700px) {
    .card {
        flex: 0 0 310px;
    }
    .wrapper {
        grid-template-columns: 1fr 6fr;
        grid-template-rows: auto minmax(auto, 4fr) auto;
        grid-template-areas:
                "header header"
                "nav    content"
                "footer footer"
    }
    nav ul {
        flex-direction: column;
    }
}
